/*
 Navicat Premium Data Transfer

 Source Server         : xww
 Source Server Type    : MySQL
 Source Server Version : 80011 (8.0.11)
 Source Host           : localhost:3306
 Source Schema         : student_system

 Target Server Type    : MySQL
 Target Server Version : 80011 (8.0.11)
 File Encoding         : 65001

 Date: 05/07/2025 19:24:57
*/

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for ai_book_recommendations
-- ----------------------------
DROP TABLE IF EXISTS `ai_book_recommendations`;
CREATE TABLE `ai_book_recommendations`  (
                                            `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                            `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                            `course_id` bigint(20) NOT NULL COMMENT '课程ID',
                                            `course_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '课程名称',
                                            `score` double NULL DEFAULT NULL COMMENT '成绩',
                                            `book_title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '书籍标题',
                                            `book_author` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '作者',
                                            `douban_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '豆瓣链接',
                                            `recommendation_reason` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '推荐理由',
                                            `is_read` tinyint(1) NULL DEFAULT 0 COMMENT '是否已读',
                                            `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                            PRIMARY KEY (`id`) USING BTREE,
                                            INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                            INDEX `idx_course_id`(`course_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 92 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = 'AI书籍推荐表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for answer_records
-- ----------------------------
DROP TABLE IF EXISTS `answer_records`;
CREATE TABLE `answer_records`  (
                                   `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '答题记录ID',
                                   `exam_record_id` bigint(20) NOT NULL COMMENT '考试记录ID',
                                   `question_id` bigint(20) NOT NULL COMMENT '题目ID',
                                   `answer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '学生答案',
                                   `correct_answer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '正确答案',
                                   `score` int(11) NULL DEFAULT 0 COMMENT '得分',
                                   `is_correct` tinyint(1) NULL DEFAULT 0 COMMENT '是否正确',
                                   `answer_time` int(11) NULL DEFAULT NULL COMMENT '答题用时(秒)',
                                   `answered_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '答题时间',
                                   PRIMARY KEY (`id`) USING BTREE,
                                   UNIQUE INDEX `uk_exam_record_question`(`exam_record_id` ASC, `question_id` ASC) USING BTREE,
                                   INDEX `idx_exam_record_id`(`exam_record_id` ASC) USING BTREE,
                                   INDEX `idx_question_id`(`question_id` ASC) USING BTREE,
                                   INDEX `idx_is_correct`(`is_correct` ASC) USING BTREE,
                                   CONSTRAINT `answer_records_ibfk_1` FOREIGN KEY (`exam_record_id`) REFERENCES `exam_records` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                   CONSTRAINT `answer_records_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '答题记录表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for comment_like
-- ----------------------------
DROP TABLE IF EXISTS `comment_like`;
CREATE TABLE `comment_like`  (
                                 `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '点赞ID',
                                 `comment_id` bigint(20) NOT NULL COMMENT '帖子ID',
                                 `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                 `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP COMMENT '点赞时间',
                                 PRIMARY KEY (`id`) USING BTREE,
                                 INDEX `idx_comment_id`(`comment_id` ASC) USING BTREE,
                                 INDEX `idx_user_id`(`user_id` ASC) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '评论点赞表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for course
-- ----------------------------
DROP TABLE IF EXISTS `course`;
CREATE TABLE `course`  (
                           `id` bigint(20) NOT NULL AUTO_INCREMENT,
                           `title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '课程标题',
                           `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '课程描述',
                           `cover_img` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '封面图',
                           `teacher_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '教师姓名',
                           `status` tinyint(4) NULL DEFAULT 0 COMMENT '状态 0-上架 1-下架',
                           `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                           `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                           PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 8 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for course_video
-- ----------------------------
DROP TABLE IF EXISTS `course_video`;
CREATE TABLE `course_video`  (
                                 `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                 `course_id` bigint(20) NOT NULL COMMENT '课程ID',
                                 `title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '视频标题',
                                 `url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '视频URL',
                                 `duration` int(11) NULL DEFAULT 0 COMMENT '视频时长(秒)',
                                 `sort` int(11) NULL DEFAULT 0 COMMENT '排序',
                                 `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                                 `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                 PRIMARY KEY (`id`) USING BTREE,
                                 INDEX `idx_course_id`(`course_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 18 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_bookings
-- ----------------------------
DROP TABLE IF EXISTS `exam_bookings`;
CREATE TABLE `exam_bookings`  (
                                  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '预约ID',
                                  `time_slot_id` bigint(20) NOT NULL COMMENT '时间段ID',
                                  `user_id` bigint(20) NOT NULL COMMENT '学生ID',
                                  `booking_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '预约号',
                                  `status` enum('BOOKED','CONFIRMED','CANCELLED','COMPLETED','NO_SHOW') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'BOOKED' COMMENT '预约状态',
                                  `booking_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '预约时间',
                                  `confirmed_time` timestamp NULL DEFAULT NULL COMMENT '确认时间',
                                  `cancelled_time` timestamp NULL DEFAULT NULL COMMENT '取消时间',
                                  `contact_phone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '联系电话',
                                  `contact_email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '联系邮箱',
                                  `special_requirements` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '特殊需求',
                                  `remarks` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '备注信息',
                                  `cancel_reason` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '取消原因',
                                  `cancelled_by` bigint(20) NULL DEFAULT NULL COMMENT '取消操作人ID',
                                  `check_in_time` timestamp NULL DEFAULT NULL COMMENT '签到时间',
                                  `check_in_status` enum('NOT_CHECKED','CHECKED_IN','LATE','ABSENT') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'NOT_CHECKED' COMMENT '签到状态',
                                  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                  PRIMARY KEY (`id`) USING BTREE,
                                  UNIQUE INDEX `booking_number`(`booking_number` ASC) USING BTREE,
                                  UNIQUE INDEX `uk_time_slot_user`(`time_slot_id` ASC, `user_id` ASC) USING BTREE,
                                  INDEX `idx_time_slot_id`(`time_slot_id` ASC) USING BTREE,
                                  INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                  INDEX `idx_status`(`status` ASC) USING BTREE,
                                  INDEX `idx_booking_number`(`booking_number` ASC) USING BTREE,
                                  INDEX `idx_booking_time`(`booking_time` ASC) USING BTREE,
                                  INDEX `idx_check_in_status`(`check_in_status` ASC) USING BTREE,
                                  INDEX `cancelled_by`(`cancelled_by` ASC) USING BTREE,
                                  CONSTRAINT `exam_bookings_ibfk_1` FOREIGN KEY (`time_slot_id`) REFERENCES `exam_time_slots` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                  CONSTRAINT `exam_bookings_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                  CONSTRAINT `exam_bookings_ibfk_3` FOREIGN KEY (`cancelled_by`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 8 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试预约表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_locations
-- ----------------------------
DROP TABLE IF EXISTS `exam_locations`;
CREATE TABLE `exam_locations`  (
                                   `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '地点ID',
                                   `location_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '地点名称',
                                   `location_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '地点编码',
                                   `address` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '详细地址',
                                   `building` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '建筑物',
                                   `room_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '房间号',
                                   `floor_number` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '楼层',
                                   `capacity` int(11) NULL DEFAULT 50 COMMENT '容量',
                                   `seat_layout` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '座位布局',
                                   `equipment` json NULL COMMENT '设备信息',
                                   `wifi_available` tinyint(1) NULL DEFAULT 1 COMMENT '是否有WiFi',
                                   `power_outlets` tinyint(1) NULL DEFAULT 1 COMMENT '是否有电源插座',
                                   `contact_person` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '联系人',
                                   `contact_phone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '联系电话',
                                   `status` enum('AVAILABLE','MAINTENANCE','UNAVAILABLE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'AVAILABLE' COMMENT '状态',
                                   `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                   `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                   PRIMARY KEY (`id`) USING BTREE,
                                   UNIQUE INDEX `location_code`(`location_code` ASC) USING BTREE,
                                   INDEX `idx_location_code`(`location_code` ASC) USING BTREE,
                                   INDEX `idx_status`(`status` ASC) USING BTREE,
                                   INDEX `idx_capacity`(`capacity` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试地点表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_notifications
-- ----------------------------
DROP TABLE IF EXISTS `exam_notifications`;
CREATE TABLE `exam_notifications`  (
                                       `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '通知ID',
                                       `booking_id` bigint(20) NULL DEFAULT NULL COMMENT '预约ID（可为空，系统通知时）',
                                       `user_id` bigint(20) NOT NULL COMMENT '接收用户ID',
                                       `notification_type` enum('BOOKING_CONFIRMED','BOOKING_CANCELLED','EXAM_REMINDER','EXAM_CHANGED','SYSTEM_NOTICE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '通知类型',
                                       `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '通知标题',
                                       `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '通知内容',
                                       `send_method` enum('SYSTEM','EMAIL','SMS','PUSH') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'SYSTEM' COMMENT '发送方式',
                                       `send_status` enum('PENDING','SENT','FAILED','READ') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'PENDING' COMMENT '发送状态',
                                       `send_time` timestamp NULL DEFAULT NULL COMMENT '发送时间',
                                       `read_time` timestamp NULL DEFAULT NULL COMMENT '阅读时间',
                                       `scheduled_time` timestamp NULL DEFAULT NULL COMMENT '定时发送时间',
                                       `priority` enum('LOW','NORMAL','HIGH','URGENT') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'NORMAL' COMMENT '优先级',
                                       `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                       PRIMARY KEY (`id`) USING BTREE,
                                       INDEX `idx_booking_id`(`booking_id` ASC) USING BTREE,
                                       INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                       INDEX `idx_notification_type`(`notification_type` ASC) USING BTREE,
                                       INDEX `idx_send_status`(`send_status` ASC) USING BTREE,
                                       INDEX `idx_scheduled_time`(`scheduled_time` ASC) USING BTREE,
                                       INDEX `idx_priority`(`priority` ASC) USING BTREE,
                                       CONSTRAINT `exam_notifications_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `exam_bookings` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                       CONSTRAINT `exam_notifications_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 8 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试通知表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_participants
-- ----------------------------
DROP TABLE IF EXISTS `exam_participants`;
CREATE TABLE `exam_participants`  (
                                      `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
                                      `exam_id` bigint(20) NOT NULL COMMENT '考试ID',
                                      `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                      `invited_by` bigint(20) NULL DEFAULT NULL COMMENT '邀请人ID',
                                      `invitation_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '邀请时间',
                                      `status` enum('INVITED','ACCEPTED','DECLINED','COMPLETED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'INVITED' COMMENT '参与状态',
                                      PRIMARY KEY (`id`) USING BTREE,
                                      UNIQUE INDEX `uk_exam_user`(`exam_id` ASC, `user_id` ASC) USING BTREE,
                                      INDEX `idx_exam_id`(`exam_id` ASC) USING BTREE,
                                      INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                      INDEX `idx_status`(`status` ASC) USING BTREE,
                                      INDEX `invited_by`(`invited_by` ASC) USING BTREE,
                                      CONSTRAINT `exam_participants_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                      CONSTRAINT `exam_participants_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                      CONSTRAINT `exam_participants_ibfk_3` FOREIGN KEY (`invited_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 6 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试参与者表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_records
-- ----------------------------
DROP TABLE IF EXISTS `exam_records`;
CREATE TABLE `exam_records`  (
                                 `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '考试记录ID',
                                 `exam_id` bigint(20) NOT NULL COMMENT '考试ID',
                                 `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                 `start_time` timestamp NULL DEFAULT NULL COMMENT '开始时间',
                                 `submit_time` timestamp NULL DEFAULT NULL COMMENT '提交时间',
                                 `duration` int(11) NULL DEFAULT NULL COMMENT '实际用时(秒)',
                                 `score` int(11) NULL DEFAULT 0 COMMENT '得分',
                                 `max_score` int(11) NULL DEFAULT NULL COMMENT '满分',
                                 `status` enum('NOT_STARTED','IN_PROGRESS','SUBMITTED','TIMEOUT','CANCELLED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'NOT_STARTED' COMMENT '考试状态',
                                 `violation_count` int(11) NULL DEFAULT 0 COMMENT '违规次数',
                                 `attempt_number` int(11) NULL DEFAULT 1 COMMENT '第几次尝试',
                                 `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT 'IP地址',
                                 `user_agent` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '用户代理',
                                 `browser_info` json NULL COMMENT '浏览器信息',
                                 `is_passed` tinyint(1) NULL DEFAULT 0 COMMENT '是否通过',
                                 `rank_position` int(11) NULL DEFAULT NULL COMMENT '排名位置',
                                 `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                 `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                 PRIMARY KEY (`id`) USING BTREE,
                                 UNIQUE INDEX `uk_exam_user_attempt`(`exam_id` ASC, `user_id` ASC, `attempt_number` ASC) USING BTREE,
                                 INDEX `idx_exam_id`(`exam_id` ASC) USING BTREE,
                                 INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                 INDEX `idx_status`(`status` ASC) USING BTREE,
                                 INDEX `idx_start_time`(`start_time` ASC) USING BTREE,
                                 INDEX `idx_score`(`score` ASC) USING BTREE,
                                 INDEX `idx_exam_user`(`exam_id` ASC, `user_id` ASC) USING BTREE,
                                 CONSTRAINT `exam_records_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                 CONSTRAINT `exam_records_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 35 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试记录表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_statistics
-- ----------------------------
DROP TABLE IF EXISTS `exam_statistics`;
CREATE TABLE `exam_statistics`  (
                                    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '统计ID',
                                    `exam_id` bigint(20) NOT NULL COMMENT '考试ID',
                                    `total_participants` int(11) NULL DEFAULT 0 COMMENT '总参与人数',
                                    `completed_count` int(11) NULL DEFAULT 0 COMMENT '完成人数',
                                    `average_score` decimal(5, 2) NULL DEFAULT 0.00 COMMENT '平均分',
                                    `max_score` int(11) NULL DEFAULT 0 COMMENT '最高分',
                                    `min_score` int(11) NULL DEFAULT 0 COMMENT '最低分',
                                    `pass_rate` decimal(5, 2) NULL DEFAULT 0.00 COMMENT '通过率',
                                    `average_duration` int(11) NULL DEFAULT 0 COMMENT '平均用时(秒)',
                                    `violation_count` int(11) NULL DEFAULT 0 COMMENT '总违规次数',
                                    `statistics_date` date NOT NULL COMMENT '统计日期',
                                    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                    PRIMARY KEY (`id`) USING BTREE,
                                    UNIQUE INDEX `uk_exam_date`(`exam_id` ASC, `statistics_date` ASC) USING BTREE,
                                    INDEX `idx_exam_id`(`exam_id` ASC) USING BTREE,
                                    INDEX `idx_statistics_date`(`statistics_date` ASC) USING BTREE,
                                    CONSTRAINT `exam_statistics_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试统计表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exam_time_slots
-- ----------------------------
DROP TABLE IF EXISTS `exam_time_slots`;
CREATE TABLE `exam_time_slots`  (
                                    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '时间段ID',
                                    `exam_id` bigint(20) NOT NULL COMMENT '考试ID',
                                    `slot_date` date NOT NULL COMMENT '考试日期',
                                    `start_time` time NOT NULL COMMENT '开始时间',
                                    `end_time` time NOT NULL COMMENT '结束时间',
                                    `exam_location` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '考试地点',
                                    `exam_mode` enum('ONLINE','OFFLINE','HYBRID') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'ONLINE' COMMENT '考试模式',
                                    `max_capacity` int(11) NULL DEFAULT 50 COMMENT '最大容量',
                                    `current_bookings` int(11) NULL DEFAULT 0 COMMENT '当前预约人数',
                                    `status` enum('AVAILABLE','FULL','CANCELLED','COMPLETED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'AVAILABLE' COMMENT '状态',
                                    `booking_start_time` timestamp NULL DEFAULT NULL COMMENT '开始预约时间',
                                    `booking_end_time` timestamp NULL DEFAULT NULL COMMENT '预约截止时间',
                                    `allow_cancel` tinyint(1) NULL DEFAULT 1 COMMENT '是否允许取消预约',
                                    `cancel_deadline_hours` int(11) NULL DEFAULT 24 COMMENT '取消预约截止时间(小时)',
                                    `requirements` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '特殊要求说明',
                                    `equipment_needed` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '所需设备',
                                    `created_by` bigint(20) NOT NULL COMMENT '创建者ID',
                                    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                    PRIMARY KEY (`id`) USING BTREE,
                                    INDEX `idx_exam_id`(`exam_id` ASC) USING BTREE,
                                    INDEX `idx_slot_date`(`slot_date` ASC) USING BTREE,
                                    INDEX `idx_status`(`status` ASC) USING BTREE,
                                    INDEX `idx_exam_mode`(`exam_mode` ASC) USING BTREE,
                                    INDEX `idx_exam_date_time`(`exam_id` ASC, `slot_date` ASC, `start_time` ASC) USING BTREE,
                                    INDEX `created_by`(`created_by` ASC) USING BTREE,
                                    CONSTRAINT `exam_time_slots_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                    CONSTRAINT `exam_time_slots_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试时间段表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for exams
-- ----------------------------
DROP TABLE IF EXISTS `exams`;
CREATE TABLE `exams`  (
                          `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '考试ID',
                          `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '考试标题',
                          `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '考试描述',
                          `duration` int(11) NOT NULL COMMENT '考试时长(分钟)',
                          `total_score` int(11) NULL DEFAULT 100 COMMENT '总分',
                          `passing_score` int(11) NULL DEFAULT 60 COMMENT '及格分数',
                          `start_time` timestamp NULL DEFAULT NULL COMMENT '考试开始时间',
                          `end_time` timestamp NULL DEFAULT NULL COMMENT '考试结束时间',
                          `status` enum('DRAFT','PUBLISHED','ENDED','CANCELLED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'DRAFT' COMMENT '考试状态',
                          `booking_status` enum('AVAILABLE','UNAVAILABLE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'UNAVAILABLE' COMMENT '预约状态',
                          `exam_type` enum('PRACTICE','FORMAL','SIMULATION') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'FORMAL' COMMENT '考试/作业类型',
                          `max_attempts` int(11) NULL DEFAULT 1 COMMENT '最大尝试次数',
                          `created_by` bigint(20) NOT NULL COMMENT '创建者ID',
                          `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                          `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                          `course_id` bigint(20) NULL DEFAULT NULL,
                          PRIMARY KEY (`id`) USING BTREE,
                          INDEX `idx_status`(`status` ASC) USING BTREE,
                          INDEX `idx_booking_status`(`booking_status` ASC) USING BTREE,
                          INDEX `idx_created_by`(`created_by` ASC) USING BTREE,
                          INDEX `idx_start_time`(`start_time` ASC) USING BTREE,
                          INDEX `idx_end_time`(`end_time` ASC) USING BTREE,
                          CONSTRAINT `exams_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 14 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '考试表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for experiment
-- ----------------------------
DROP TABLE IF EXISTS `experiment`;
CREATE TABLE `experiment`  (
                               `id` bigint(20) NOT NULL AUTO_INCREMENT,
                               `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '实验名称',
                               `subject` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '学科分类',
                               `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '实验描述',
                               `steps` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '实验步骤(JSON格式存储)',
                               `duration` int(11) NULL DEFAULT NULL COMMENT '预计时长(分钟)',
                               `status` tinyint(1) NULL DEFAULT 1 COMMENT '状态(0-禁用,1-可预约,2-已满额,3-已关闭)',
                               `created_at` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                               `updated_at` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                               PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 3 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for experiment_booking
-- ----------------------------
DROP TABLE IF EXISTS `experiment_booking`;
CREATE TABLE `experiment_booking`  (
                                       `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                       `experiment_id` bigint(20) NOT NULL,
                                       `experiment_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '实验名称',
                                       `user_id` bigint(20) NULL DEFAULT NULL COMMENT '用户ID，可为空',
                                       `start_time` datetime NOT NULL COMMENT '预约开始时间',
                                       `end_time` datetime NOT NULL COMMENT '预约结束时间',
                                       `status` tinyint(1) NULL DEFAULT 1 COMMENT '状态(1-待进行,2-进行中,3-已完成,4-已取消)',
                                       `created_at` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                                       PRIMARY KEY (`id`) USING BTREE,
                                       INDEX `idx_experiment_id`(`experiment_id` ASC) USING BTREE,
                                       INDEX `idx_user_id`(`user_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 42 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for experiment_record
-- ----------------------------
DROP TABLE IF EXISTS `experiment_record`;
CREATE TABLE `experiment_record`  (
                                      `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                      `booking_id` bigint(20) NOT NULL,
                                      `step_data` json NOT NULL COMMENT '实验步骤数据',
                                      `parameters` json NOT NULL COMMENT '实验参数设置',
                                      `result_data` json NULL COMMENT '实验结果数据',
                                      `start_time` datetime NULL DEFAULT NULL,
                                      `end_time` datetime NULL DEFAULT NULL,
                                      `created_at` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                                      PRIMARY KEY (`id`) USING BTREE,
                                      INDEX `idx_booking_id`(`booking_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 2 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for experiment_report
-- ----------------------------
DROP TABLE IF EXISTS `experiment_report`;
CREATE TABLE `experiment_report`  (
                                      `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                      `record_id` bigint(20) NOT NULL,
                                      `template_id` bigint(20) NULL DEFAULT NULL COMMENT '报告模板ID',
                                      `content` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '报告内容(HTML格式)',
                                      `file_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '生成的文件路径',
                                      `status` tinyint(1) NULL DEFAULT 0 COMMENT '状态(0-草稿,1-已生成)',
                                      `created_at` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                                      `updated_at` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                      PRIMARY KEY (`id`) USING BTREE,
                                      INDEX `idx_record_id`(`record_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 2 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for forum_comment
-- ----------------------------
DROP TABLE IF EXISTS `forum_comment`;
CREATE TABLE `forum_comment`  (
                                  `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                  `post_id` bigint(20) NOT NULL COMMENT '帖子ID',
                                  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '内容',
                                  `parent_id` bigint(20) NULL DEFAULT NULL COMMENT '父评论ID',
                                  `like_count` int(11) NULL DEFAULT 0 COMMENT '点赞数',
                                  `status` tinyint(4) NULL DEFAULT 0 COMMENT '状态 0-正常 1-禁用',
                                  `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                                  `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                  PRIMARY KEY (`id`) USING BTREE,
                                  INDEX `idx_post_id`(`post_id` ASC) USING BTREE,
                                  INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                  INDEX `idx_parent_id`(`parent_id` ASC) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for forum_post
-- ----------------------------
DROP TABLE IF EXISTS `forum_post`;
CREATE TABLE `forum_post`  (
                               `id` bigint(20) NOT NULL AUTO_INCREMENT,
                               `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                               `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '标题',
                               `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '内容',
                               `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '分类',
                               `view_count` int(11) NULL DEFAULT 0 COMMENT '浏览数',
                               `like_count` int(11) NULL DEFAULT 0 COMMENT '点赞数',
                               `comment_count` int(11) NULL DEFAULT 0 COMMENT '评论数',
                               `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'PUBLISHED',
                               `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                               `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                               PRIMARY KEY (`id`) USING BTREE,
                               INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                               INDEX `idx_category`(`category` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 2 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for homework
-- ----------------------------
DROP TABLE IF EXISTS `homework`;
CREATE TABLE `homework`  (
                             `id` bigint(20) NOT NULL AUTO_INCREMENT,
                             `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '作业标题',
                             `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '作业描述',
                             `course_id` bigint(20) NOT NULL COMMENT '所属课程ID',
                             `teacher_id` bigint(20) NOT NULL COMMENT '发布教师ID',
                             `homework_type` enum('SUBJECTIVE','OBJECTIVE','MIXED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '作业类型：主观题、客观题、混合',
                             `total_score` decimal(5, 2) NULL DEFAULT 100.00 COMMENT '总分',
                             `start_time` timestamp NOT NULL COMMENT '开始时间',
                             `end_time` timestamp NOT NULL COMMENT '结束时间',
                             `allow_resubmit` tinyint(4) NULL DEFAULT 0 COMMENT '是否允许重新提交：1-允许，0-不允许',
                             `max_submit_times` int(11) NULL DEFAULT 1 COMMENT '最大提交次数',
                             `status` enum('DRAFT','PUBLISHED','CLOSED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'DRAFT' COMMENT '状态',
                             `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                             `update_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                             PRIMARY KEY (`id`) USING BTREE,
                             INDEX `course_id`(`course_id` ASC) USING BTREE,
                             INDEX `teacher_id`(`teacher_id` ASC) USING BTREE,
                             CONSTRAINT `homework_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
                             CONSTRAINT `homework_ibfk_2` FOREIGN KEY (`teacher_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for homework_answers
-- ----------------------------
DROP TABLE IF EXISTS `homework_answers`;
CREATE TABLE `homework_answers`  (
                                     `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                     `submission_id` bigint(20) NOT NULL,
                                     `question_id` bigint(20) NOT NULL,
                                     `student_answer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '学生答案',
                                     `score` decimal(5, 2) NULL DEFAULT 0.00 COMMENT '得分',
                                     `is_correct` tinyint(4) NULL DEFAULT NULL COMMENT '是否正确：1-正确，0-错误，NULL-待批改',
                                     `teacher_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '教师评语',
                                     `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                                     `update_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                     PRIMARY KEY (`id`) USING BTREE,
                                     INDEX `submission_id`(`submission_id` ASC) USING BTREE,
                                     INDEX `question_id`(`question_id` ASC) USING BTREE,
                                     CONSTRAINT `homework_answers_ibfk_1` FOREIGN KEY (`submission_id`) REFERENCES `homework_submissions` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                     CONSTRAINT `homework_answers_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `homework_questions` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 42 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for homework_questions
-- ----------------------------
DROP TABLE IF EXISTS `homework_questions`;
CREATE TABLE `homework_questions`  (
                                       `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                       `homework_id` bigint(20) NOT NULL,
                                       `question_order` int(11) NOT NULL COMMENT '题目顺序',
                                       `question_type` enum('SINGLE_CHOICE','MULTIPLE_CHOICE','FILL_BLANK','SHORT_ANSWER','ESSAY') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '题目类型',
                                       `question_content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '题目内容',
                                       `question_options` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '选择题选项，JSON格式',
                                       `correct_answer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '正确答案',
                                       `score` decimal(5, 2) NOT NULL COMMENT '分值',
                                       `analysis` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '题目解析',
                                       `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                                       PRIMARY KEY (`id`) USING BTREE,
                                       INDEX `homework_id`(`homework_id` ASC) USING BTREE,
                                       CONSTRAINT `homework_questions_ibfk_1` FOREIGN KEY (`homework_id`) REFERENCES `homework` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 9 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for homework_submissions
-- ----------------------------
DROP TABLE IF EXISTS `homework_submissions`;
CREATE TABLE `homework_submissions`  (
                                         `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                         `homework_id` bigint(20) NOT NULL,
                                         `student_id` bigint(20) NOT NULL,
                                         `submit_times` int(11) NULL DEFAULT 1 COMMENT '提交次数',
                                         `submit_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '提交时间',
                                         `total_score` decimal(5, 2) NULL DEFAULT NULL COMMENT '总得分',
                                         `status` enum('SUBMITTED','GRADED','RETURNED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'SUBMITTED' COMMENT '状态',
                                         `teacher_feedback` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '教师反馈',
                                         `grade_time` timestamp NULL DEFAULT NULL COMMENT '批改时间',
                                         `graded_by` bigint(20) NULL DEFAULT NULL COMMENT '批改教师ID',
                                         `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
                                         `update_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                         PRIMARY KEY (`id`) USING BTREE,
                                         INDEX `homework_id`(`homework_id` ASC) USING BTREE,
                                         INDEX `student_id`(`student_id` ASC) USING BTREE,
                                         INDEX `graded_by`(`graded_by` ASC) USING BTREE,
                                         CONSTRAINT `homework_submissions_ibfk_1` FOREIGN KEY (`homework_id`) REFERENCES `homework` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
                                         CONSTRAINT `homework_submissions_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
                                         CONSTRAINT `homework_submissions_ibfk_3` FOREIGN KEY (`graded_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 13 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for knowledge_base
-- ----------------------------
DROP TABLE IF EXISTS `knowledge_base`;
CREATE TABLE `knowledge_base`  (
                                   `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
                                   `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '书名',
                                   `author` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '作者',
                                   `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '简介描述',
                                   `image_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '图片路径',
                                   `link_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '外部链接地址',
                                   `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '分类标签',
                                   `tags` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '标签（多个标签用逗号分隔）',
                                   `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                   `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                   `status` tinyint(1) NULL DEFAULT 1 COMMENT '状态：1-启用，0-禁用',
                                   `favorite_count` int(11) NULL DEFAULT 0 COMMENT '收藏数量',
                                   PRIMARY KEY (`id`) USING BTREE,
                                   INDEX `idx_category`(`category` ASC) USING BTREE,
                                   INDEX `idx_status`(`status` ASC) USING BTREE,
                                   INDEX `idx_create_time`(`create_time` ASC) USING BTREE,
                                   INDEX `idx_category_status`(`category` ASC, `status` ASC) USING BTREE,
                                   INDEX `idx_title`(`title` ASC) USING BTREE,
                                   FULLTEXT INDEX `ft_search`(`title`, `content`, `tags`) WITH PARSER `ngram`
) ENGINE = InnoDB AUTO_INCREMENT = 15 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = '知识库表 - CSU学生管理系统' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for knowledge_favorite
-- ----------------------------
DROP TABLE IF EXISTS `knowledge_favorite`;
CREATE TABLE `knowledge_favorite`  (
                                       `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
                                       `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                       `knowledge_id` bigint(20) NOT NULL COMMENT '知识库ID',
                                       `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '收藏备注',
                                       `favorite_time` datetime NOT NULL COMMENT '收藏时间',
                                       `status` tinyint(1) NOT NULL DEFAULT 1 COMMENT '状态：1-有效，0-已取消',
                                       PRIMARY KEY (`id`) USING BTREE,
                                       UNIQUE INDEX `uk_user_knowledge`(`user_id` ASC, `knowledge_id` ASC) USING BTREE,
                                       INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                       INDEX `idx_knowledge_id`(`knowledge_id` ASC) USING BTREE,
                                       INDEX `idx_favorite_time`(`favorite_time` ASC) USING BTREE,
                                       CONSTRAINT `fk_favorite_knowledge` FOREIGN KEY (`knowledge_id`) REFERENCES `knowledge_base` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 7 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '知识库收藏表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for note
-- ----------------------------
DROP TABLE IF EXISTS `note`;
CREATE TABLE `note`  (
                         `id` bigint(20) NOT NULL AUTO_INCREMENT,
                         `user_id` bigint(20) NOT NULL,
                         `course_id` bigint(20) NULL DEFAULT NULL,
                         `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
                         `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL,
                         `drawing_data` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL,
                         `create_time` datetime NOT NULL,
                         `update_time` datetime NULL DEFAULT NULL,
                         PRIMARY KEY (`id`) USING BTREE,
                         INDEX `idx_user`(`user_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 33 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for operation_logs
-- ----------------------------
DROP TABLE IF EXISTS `operation_logs`;
CREATE TABLE `operation_logs`  (
                                   `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
                                   `user_id` bigint(20) NULL DEFAULT NULL COMMENT '用户ID',
                                   `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '用户名',
                                   `module` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '操作模块',
                                   `operation` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '操作类型',
                                   `description` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '操作描述',
                                   `request_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '请求URL',
                                   `request_method` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '请求方法',
                                   `ip_address` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT 'IP地址',
                                   `user_agent` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '用户代理',
                                   `request_params` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '请求参数',
                                   `response_result` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '响应结果',
                                   `execution_time` bigint(20) NULL DEFAULT NULL COMMENT '执行时间（毫秒）',
                                   `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '操作状态',
                                   `error_message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '错误信息',
                                   `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                   PRIMARY KEY (`id`) USING BTREE,
                                   INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                   INDEX `idx_module`(`module` ASC) USING BTREE,
                                   INDEX `idx_operation`(`operation` ASC) USING BTREE,
                                   INDEX `idx_status`(`status` ASC) USING BTREE,
                                   INDEX `idx_create_time`(`create_time` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 515 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = '操作日志表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for post_like
-- ----------------------------
DROP TABLE IF EXISTS `post_like`;
CREATE TABLE `post_like`  (
                              `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '点赞ID',
                              `post_id` bigint(20) NOT NULL COMMENT '帖子ID',
                              `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                              `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP COMMENT '点赞时间',
                              PRIMARY KEY (`id`) USING BTREE,
                              UNIQUE INDEX `uk_post_user`(`post_id` ASC, `user_id` ASC) USING BTREE COMMENT '同一用户对同一帖子只能点赞一次',
                              INDEX `idx_post_id`(`post_id` ASC) USING BTREE,
                              INDEX `idx_user_id`(`user_id` ASC) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '帖子点赞表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for post_report
-- ----------------------------
DROP TABLE IF EXISTS `post_report`;
CREATE TABLE `post_report`  (
                                `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '举报ID',
                                `post_id` bigint(20) NOT NULL COMMENT '被举报的帖子ID',
                                `reporter_id` bigint(20) NOT NULL COMMENT '举报人ID',
                                `reason` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '举报原因',
                                `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '举报详细描述',
                                `status` tinyint(4) NULL DEFAULT 0 COMMENT '处理状态：0-待处理，1-已处理，2-已驳回',
                                `handler_id` bigint(20) NULL DEFAULT NULL COMMENT '处理人ID（管理员）',
                                `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP COMMENT '举报时间',
                                `handle_time` datetime NULL DEFAULT NULL COMMENT '处理时间',
                                PRIMARY KEY (`id`) USING BTREE,
                                INDEX `idx_post_id`(`post_id` ASC) USING BTREE,
                                INDEX `idx_reporter_id`(`reporter_id` ASC) USING BTREE,
                                INDEX `idx_status`(`status` ASC) USING BTREE,
                                INDEX `idx_create_time`(`create_time` ASC) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '帖子举报表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for question_bank_items
-- ----------------------------
DROP TABLE IF EXISTS `question_bank_items`;
CREATE TABLE `question_bank_items`  (
                                        `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
                                        `bank_id` bigint(20) NOT NULL COMMENT '题库ID',
                                        `question_id` bigint(20) NOT NULL COMMENT '题目ID',
                                        `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                        PRIMARY KEY (`id`) USING BTREE,
                                        UNIQUE INDEX `uk_bank_question`(`bank_id` ASC, `question_id` ASC) USING BTREE,
                                        INDEX `idx_bank_id`(`bank_id` ASC) USING BTREE,
                                        INDEX `idx_question_id`(`question_id` ASC) USING BTREE,
                                        CONSTRAINT `question_bank_items_ibfk_1` FOREIGN KEY (`bank_id`) REFERENCES `question_banks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
                                        CONSTRAINT `question_bank_items_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 9 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '题库题目关联表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for question_banks
-- ----------------------------
DROP TABLE IF EXISTS `question_banks`;
CREATE TABLE `question_banks`  (
                                   `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '题库ID',
                                   `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '题库名称',
                                   `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '题库描述',
                                   `subject` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '学科',
                                   `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '分类',
                                   `status` enum('ACTIVE','INACTIVE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'ACTIVE' COMMENT '状态',
                                   `created_by` bigint(20) NOT NULL COMMENT '创建者ID',
                                   `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                   `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                                   PRIMARY KEY (`id`) USING BTREE,
                                   INDEX `idx_subject`(`subject` ASC) USING BTREE,
                                   INDEX `idx_category`(`category` ASC) USING BTREE,
                                   INDEX `idx_created_by`(`created_by` ASC) USING BTREE,
                                   CONSTRAINT `question_banks_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 4 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '题库表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for question_options
-- ----------------------------
DROP TABLE IF EXISTS `question_options`;
CREATE TABLE `question_options`  (
                                     `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '选项ID',
                                     `question_id` bigint(20) NOT NULL COMMENT '题目ID',
                                     `content` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '选项内容',
                                     `is_correct` tinyint(1) NULL DEFAULT 0 COMMENT '是否为正确答案',
                                     `option_label` char(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '选项标签(A,B,C,D)',
                                     `order_num` int(11) NULL DEFAULT NULL COMMENT '选项序号',
                                     `image_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '选项图片URL',
                                     `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                     PRIMARY KEY (`id`) USING BTREE,
                                     INDEX `idx_question_id`(`question_id` ASC) USING BTREE,
                                     INDEX `idx_is_correct`(`is_correct` ASC) USING BTREE,
                                     INDEX `idx_order_num`(`order_num` ASC) USING BTREE,
                                     CONSTRAINT `question_options_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 11 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '题目选项表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for questions
-- ----------------------------
DROP TABLE IF EXISTS `questions`;
CREATE TABLE `questions`  (
                              `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '题目ID',
                              `exam_id` bigint(20) NOT NULL COMMENT '考试ID',
                              `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '题目内容',
                              `type` enum('SINGLE','MULTIPLE','JUDGE','TEXT','FILL') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '题目类型',
                              `score` int(11) NULL DEFAULT 5 COMMENT '题目分数',
                              `order_num` int(11) NULL DEFAULT NULL COMMENT '题目序号',
                              `analysis` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL COMMENT '题目解析',
                              `difficulty` enum('EASY','MEDIUM','HARD') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT 'MEDIUM' COMMENT '难度等级',
                              `tags` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '题目标签',
                              `image_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '题目图片URL',
                              `audio_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '题目音频URL',
                              `video_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '题目视频URL',
                              `time_limit` int(11) NULL DEFAULT NULL COMMENT '单题时间限制(秒)',
                              `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                              `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
                              PRIMARY KEY (`id`) USING BTREE,
                              INDEX `idx_exam_id`(`exam_id` ASC) USING BTREE,
                              INDEX `idx_type`(`type` ASC) USING BTREE,
                              INDEX `idx_difficulty`(`difficulty` ASC) USING BTREE,
                              INDEX `idx_order_num`(`order_num` ASC) USING BTREE,
                              CONSTRAINT `questions_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 5 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci COMMENT = '题目表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for student_course
-- ----------------------------
DROP TABLE IF EXISTS `student_course`;
CREATE TABLE `student_course`  (
                                   `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                   `student_id` bigint(20) NOT NULL COMMENT '学生ID',
                                   `course_id` bigint(20) NOT NULL COMMENT '课程ID',
                                   `enroll_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '选课时间',
                                   `status` tinyint(4) NULL DEFAULT 1 COMMENT '状态：1-正常，0-退课',
                                   PRIMARY KEY (`id`) USING BTREE,
                                   UNIQUE INDEX `uk_student_course`(`student_id` ASC, `course_id` ASC) USING BTREE,
                                   INDEX `course_id`(`course_id` ASC) USING BTREE,
                                   CONSTRAINT `student_course_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
                                   CONSTRAINT `student_course_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE = InnoDB AUTO_INCREMENT = 20 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for study_record
-- ----------------------------
DROP TABLE IF EXISTS `study_record`;
CREATE TABLE `study_record`  (
                                 `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                 `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                 `video_id` bigint(20) NOT NULL COMMENT '视频ID',
                                 `progress` int(11) NULL DEFAULT 0 COMMENT '观看进度(秒)',
                                 `duration` int(11) NULL DEFAULT 0 COMMENT '学习时长(秒)',
                                 `completed` tinyint(4) NULL DEFAULT 0 COMMENT '是否完成 0-未完成 1-已完成',
                                 `last_study_time` datetime NULL DEFAULT NULL COMMENT '最后学习时间',
                                 `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                                 `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                                 PRIMARY KEY (`id`) USING BTREE,
                                 UNIQUE INDEX `uk_user_video`(`user_id` ASC, `video_id` ASC) USING BTREE,
                                 INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                 INDEX `idx_video_id`(`video_id` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 18 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for system_logs
-- ----------------------------
DROP TABLE IF EXISTS `system_logs`;
CREATE TABLE `system_logs`  (
                                `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
                                `level` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '日志级别',
                                `type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '日志类型',
                                `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '日志标题',
                                `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '日志内容',
                                `source` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '来源模块',
                                `stack_trace` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL COMMENT '堆栈信息',
                                `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
                                PRIMARY KEY (`id`) USING BTREE,
                                INDEX `idx_level`(`level` ASC) USING BTREE,
                                INDEX `idx_type`(`type` ASC) USING BTREE,
                                INDEX `idx_source`(`source` ASC) USING BTREE,
                                INDEX `idx_create_time`(`create_time` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 351 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = '系统日志表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for user
-- ----------------------------
DROP TABLE IF EXISTS `user`;
CREATE TABLE `user`  (
                         `id` bigint(20) NOT NULL AUTO_INCREMENT,
                         `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '用户名',
                         `password` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '密码',
                         `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '邮箱',
                         `avatar` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL DEFAULT NULL COMMENT '头像',
                         `status` tinyint(4) NULL DEFAULT 0 COMMENT '状态 0-正常 1-禁用',
                         `create_time` datetime NULL DEFAULT CURRENT_TIMESTAMP,
                         `update_time` datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                         `role` int(11) NULL DEFAULT NULL,
                         PRIMARY KEY (`id`) USING BTREE,
                         UNIQUE INDEX `uk_username`(`username` ASC) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 12 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for user_notification
-- ----------------------------
DROP TABLE IF EXISTS `user_notification`;
CREATE TABLE `user_notification`  (
                                      `id` bigint(20) NOT NULL AUTO_INCREMENT,
                                      `user_id` bigint(20) NOT NULL COMMENT '用户ID',
                                      `title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '通知标题',
                                      `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '通知内容',
                                      `type` tinyint(4) NOT NULL COMMENT '通知类型：1-系统通知 2-帖子通知 3-评论通知',
                                      `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '状态：0-未读 1-已读',
                                      `related_id` bigint(20) NULL DEFAULT NULL COMMENT '关联ID',
                                      `create_time` datetime NOT NULL COMMENT '创建时间',
                                      PRIMARY KEY (`id`) USING BTREE,
                                      INDEX `idx_user_id`(`user_id` ASC) USING BTREE,
                                      INDEX `idx_status`(`status` ASC) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = '用户通知表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Triggers structure for table knowledge_favorite
-- ----------------------------
DROP TRIGGER IF EXISTS `update_favorite_count_after_insert`;
delimiter ;;
CREATE TRIGGER `update_favorite_count_after_insert` AFTER INSERT ON `knowledge_favorite` FOR EACH ROW BEGIN
    UPDATE `knowledge_base`
    SET `favorite_count` = (
        SELECT COUNT(*)
        FROM `knowledge_favorite`
        WHERE `knowledge_id` = NEW.knowledge_id AND `status` = 1
    )
    WHERE `id` = NEW.knowledge_id;
END
;;
delimiter ;

-- ----------------------------
-- Triggers structure for table knowledge_favorite
-- ----------------------------
DROP TRIGGER IF EXISTS `update_favorite_count_after_delete`;
delimiter ;;
CREATE TRIGGER `update_favorite_count_after_delete` AFTER DELETE ON `knowledge_favorite` FOR EACH ROW BEGIN
    UPDATE `knowledge_base`
    SET `favorite_count` = (
        SELECT COUNT(*)
        FROM `knowledge_favorite`
        WHERE `knowledge_id` = OLD.knowledge_id AND `status` = 1
    )
    WHERE `id` = OLD.knowledge_id;
END
;;
delimiter ;

SET FOREIGN_KEY_CHECKS = 1;
